body{
    font: size 14px;
    color:#212121;
    /* font-family: 'Raleway', sans-serif; */
font-family: 'Roboto', sans-serif;
}
.hero__title{
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero__button{
background-color:#2196F3  ;
font-weight: 700;
font-size: 16px;
line-height: 188%;
letter-spacing: 0.06em;
color: #FFFFFF;
cursor: pointer;
}
.portfolio__button{  
background-color:#2196F3;
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
color: #FFFFFF;
cursor: pointer;
}
.header__link{
font-weight: 500;
font-size: 14px;
line-height: 114%;
letter-spacing: 0.02em;
color: #2196F3;
}
.hero__desc{
    font-weight: 700;
font-size: 14px;
line-height: 114%;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.hero__text{
    font-weight: 400;
font-size: 14px;
line-height: 171%;


letter-spacing: 0.03em;

}
.rori__head{
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.rori__text{
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.team__head{
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.team__role{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.team__member{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.footer__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.footer__feedback{
    font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer__adress{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #FFFFFF;

}
.portfolio__name{
    font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio__desc{
    font-weight: 400;
font-size: 16px;
line-height: 188%;
letter-spacing: 0.03em;
color: #757575;
}
